/*--------背景-------*/
.container {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.blueSky {
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top, rgb(196, 228, 253), rgb(255, 255, 255));
  background: -moz-linear-gradient(top, rgb(196, 228, 253), rgb(255, 255, 255));
  background: -o-linear-gradient(top, rgb(196, 228, 253), rgb(255, 255, 255));
  background: linear-gradient(top, rgb(196, 228, 253), rgb(255, 255, 255));
  position: absolute;
  top: 0;
}

.cloud1 {
  -webkit-animation: move 80s infinite linear;
  -moz-animation: move 80s infinite linear;
  -ms-animation: move 80s infinite linear;
  width: 206px;
  height: 86px;
  background-color: #fff;
  border: azure 1px solid;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 20%;
}

.cloud1::before {
  content: '';
  height: 72px;
  width: 92px;
  background-color: #fff;
  border: #fff 1px solid;
  border-radius: 40%;
  display: block;
  position: absolute;
  top: 10px;
  left: 36px;
}

.cloud1::after {
  content: '';
  height: 60px;
  width: 92px;
  background-color: #fff;
  border: azure 1px solid;
  border-radius: 50%;
  display: block;
  top: -8px;
  left: 48px;
}

.cloud2 {
  -webkit-animation: move2 60s infinite linear;
  -moz-animation: move2 60s infinite linear;
  -ms-animation: move2 60s infinite linear;
  width: 300px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 70%;
  top: 13%;
}

.cloud2:before {
  content: "";
  height: 52px;
  width: 192px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 9px;
  left: 83px;
}

.cloud2:after {
  content: "";
  height: 78px;
  width: 172px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -8px;
  left: 48px;
}

.grassLand {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20%;
  background: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(148, 190, 90));
  background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(148, 190, 90));
  background: -o-linear-gradient(top, rgb(255, 255, 255), rgb(148, 190, 90));
  background: linear-gradient(top, rgb(255, 255, 255), rgb(148, 190, 90));
}

@keyframes move {
  0% {
    left: 0%;
  }

  25% {
    left: 25%;
    opacity: 1;
  }

  50% {
    left: 50%;
    opacity: 0.6;
  }

  75% {
    left: 75%;
    opacity: 0.7;
  }

  90% {
    left: 80%;
    opacity: 1;
  }

  100% {
    left: 85%;
  }
}

@keyframes move2 {
  0% {
    left: 20%;
  }

  25% {
    left: 25%;
    opacity: 1;
  }

  50% {
    left: 50%;
    opacity: 0.6;
  }

  75% {
    left: 75%;
    opacity: 0.7;
  }

  90% {
    left: 78%;
    opacity: 1;
  }

  100% {
    left: 79%;
  }
}

/*------信封------*/
#Envelope {
  position: fixed;
  left: 21%;
  top: 35%;
  z-index: 2;
  margin-top: -150px;
  margin-left: -100px;
  animation: shake 0.82s infinite;
  animation-delay: .6s
  
}
@keyframes shake {
  10%,
   90% {
     transform: translate3d(-1px, 0 0);
 
   }
 
   20%,
   80% {
     transform: translate3d(2px, 0, 0);
 
   }
 
   30%,
   50%,
   70% {
     transform: translate3d(-4px, 0, 0);
 
   }
 
   40%,
 
   60% {
     transform: translate3d(4px, 0, 0);
 
   }
 
 }
 
#backFlap {
  height: 100px;
  width: 265px;
  position: absolute;
  background-color: #ccb337;
  margin-left: 264px;
  margin-top: 270px;
}

#frontFlap1 {
  width: 0;
  height: 0;
  border-bottom: 155px solid #eac34c;
  border-right: 265px solid transparent;
  margin-left: 264px;
  margin-top: 270px;
  position: absolute;
}

#frontFlap2 {
  width: 0;
  height: 0;
  border-bottom: 156px solid #dcc044;
  border-left: 265px solid transparent;
  position: absolute;
  margin-top: 269px;
  margin-left: 265px;
}

#OpenFlap {
  width: 0;
  height: 0;
  border-left: 134px solid transparent;
  border-right: 134px solid transparent;
  border-top: 80px solid #ccbb37;
  margin-top: 270px;
  margin-left: 263px;
  position: absolute;
}

#Paper {
  position: absolute;
  height: 150px;
  width: 223px;
  background-color: #f2f2f2;
  margin-left: 280px;
  margin-top: 270px;
}

#Envelope #Words {
  position: absolute;
  height: 10px;
  width: 75px;
  background-color: #d3d3d3;
  margin-left: 15px;
  margin-top: 30px;
}

#Envelope #Words:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 30px;
  background-color: #d3d3d3;
  margin-top: 20px;
}

#Envelope #circle {
  height: 0px;
  width: 0px;
  background-color: #2ecc71;
  margin-left: 170px;
  margin-top: -40px;
  /*border-radius*/
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  /*box-shadow*/
  -webkit-box-shadow: -3px 7px 0px rgba(61, 62, 61, 0.23);
  -moz-box-shadow: -3px 7px 0px rgba(61, 62, 61, 0.23);
  box-shadow: -3px 7px 0px rgba(61, 62, 61, 0.23);
}

#Envelope #OpenFlapBack {
  width: 0;
  height: 0;
  border-left: 133px solid transparent;
  border-right: 133px solid transparent;
  border-bottom: 105px solid #ccac37;
  position: absolute;
  margin-top: 165px;
  margin-left: 264px;
  opacity: 0.0;
}

#Envelope #Shadow {
  background-color: #a99322;
  height: 15px;
  width: 265px;
  position: absolute;
  margin-left: 265px;
  margin-top: 420px;
}
#Envelope .tips {
  font-size: 50px;
  color: #fc6394;
  position: absolute;
  width: 200px;
  margin-left: 309px;
  margin-top: 460px;
}
/*-------礼花------*/
#Layer_1 {
  position: fixed;
  z-index: 2;
  bottom: -19%;
  left: 0;
  display: none;
}
#Layer_1 .conf0{fill:#FC6394;}
#Layer_1 .conf1{fill:#EF3C8A;}
#Layer_1 .conf2{fill:#5ADAEA;}
#Layer_1 .conf3{fill:#974CBE;}
#Layer_1 .conf4{fill:#3CBECD;}
#Layer_1 .conf5{fill:#813BBE;}
#Layer_1 .conf6{fill:#F9B732;}
#Layer_1 .conf7{display:none;fill:none;stroke:#000000;stroke-miterlimit:10;}
#Layer_1 .conf8{fill:none;stroke:#F9B732;stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;}


#Layer_1 .confetti-cone{
  transform-origin: 200px 50px;
  animation:confetti-cone1 1.2s ease infinite;
}
@keyframes confetti-cone1{
0%{
   transform:translate(40px, 95px)  rotate(45deg) scale(1, 1);
}
15%{
   transform:translate(10px, 145px)  rotate(45deg) scale(1.1, 0.85);

}
100%{
  transform:translate(40px, 105px)  rotate(45deg) scale(1, 1);
}
  }

#Layer_1 #yellow-strip {
  fill:none;
  stroke:#F9B732;
  stroke-width:9;
  stroke-linecap:round;
  stroke-miterlimit:10;
  animation: confdash 1.2s ease infinite;
}


@keyframes confdash {
0%{
  stroke-dasharray:1000;
  stroke-dashoffset:500;
  transform:translate(-30px, 30px);
  opacity:0;
}
2%{
  stroke-dasharray:1000;
  stroke-dashoffset:500;
  transform:translate(-30px, 30px);
  opacity:0;
}
35%{
stroke-dasharray:1000;
stroke-dashoffset:900;
transform:translate(-2px, 0px);
opacity:1;
}

85%{
  stroke-dasharray:1000;
  stroke-dashoffset:1000;
  transform:translate(1px, -5px);
  opacity:1;
}
  90%{
  stroke-dashoffset:1000;
   stroke-dashoffset:1000;
  transform:translate(2px, -8px);
  opacity:0;
}
  100%{
  stroke-dashoffset:1000;
   stroke-dashoffset:500;
  transform:translate(2px, -8px);
  opacity:0;
}
}

#Layer_1 #a2{
  transform-origin: 310.9px 241px;
  animation: confa 1.2s ease-out infinite;
}

#Layer_1 #a1
{transform-origin: 276px 246px;
  animation: confa 1.2s ease-out infinite;
}

@keyframes confa {
0%{
  opacity:0;
  transform: translate(-30px, 20px) rotate(0);
}
15%{
  opacity:1;
  transform: translate(25px, -10px) rotate(60deg);
}
80%{
  opacity:1;
  transform: translate(33px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(37px, -23px) scale(0.5)rotate(230deg);
}
}


#Layer_1 #b1{
  transform-origin: 195.2px 232.6px;
  animation: confb 1.2s ease-out infinite;
}

#Layer_1 #b2{
  transform-origin: 230.8px 219.8px;
  animation: confb 1.2s ease-out infinite;
}
#Layer_1 #b3 {transform-origin: 222.8px 190.6px;
  animation: confb 1.2s ease-out infinite;
}

#Layer_1 #b4 {transform-origin: 262px 188.5px;
  animation: confb 1.2s ease-out infinite;
}

#Layer_1 #b5 {transform-origin: 282.3px 170.6px;
  animation: confb 1.2s ease-out infinite;
}

@keyframes confb {
0%{
  opacity:0;
  transform: translate(-30px, 20px) rotate(0);
}
12%{
  opacity:1;
  transform: translate(25px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(33px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(37px, -23px) scale(0.5) rotate(240deg);
}
}

#Layer_1 #c1 {transform-origin: 174.8px 183.4px;
  animation: confc 1.2s ease-out infinite;
}
#Layer_1 #c2{
  transform-origin: 178.9px 156.2px;
  animation: confc 1.2s ease-out infinite;
}

#Layer_1 #c3{
  transform-origin: 206.7px 140px;
  animation: confc 1.2s ease-out infinite;
}

#Layer_1 #c4{
  transform-origin: 213.5px 120.2px;
  animation: confc 1.2s ease-out infinite;
}

@keyframes confc {
0%{
  opacity:0.7;
  transform: translate(-30px, 20px) rotate(0);
}
18%{
  opacity:1;
  transform: translate(5px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(13px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(17px, -23px) scale(0.5) rotate(230deg);
}
}

#Layer_1 #d1{
  transform-origin: 127px 176px;
  animation: confd 1.2s ease-out infinite;
}
#Layer_1 #d2 {transform-origin: 133px 118px;
  animation: confd 1.2s ease-out infinite;
}
#Layer_1 #d3{ transform-origin: 152px 100px;
  animation: confd 1.2s ease-out infinite;
}

@keyframes confd {
0%{
  opacity:0.7;
  transform: translate(-20px, 20px) rotate(0);
}
18%{
  opacity:1;
  transform: translate(-5px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(-8px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(-10px, -23px) scale(0.5) rotate(230deg);
}
}
/*-------艺术体文字------*/
#typingTextTransition {
  font-family: 'Rubik Mono One', sans-serif;
  z-index: 2;
}

#typingTextTransition svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#typingTextTransition .text, 
#typingTextTransition .offscreen-text {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  margin: 0;
}

#typingTextTransition .offscreen-text {
  text-align: center;
  top: -9999px;
}

#typingTextTransition .text span {
  position: absolute;
}